@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;

  background-image: radial-gradient(
    circle,
    #787f8b,
    #696e78,
    #5a5d65,
    #4c4d53,
    #3d3d41
  );

  font-family: 'Cormorant Garamond', serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
}

.text-shadow {
  text-shadow: 5px 3px 6px #000;
}
